.namespacesRow {
  display: flex;
  align-items: center;
  gap: 30px;
}
.namespaceShowRow {
  display: flex;
  align-items: center;
  gap: 8px;
}
.branchingRow {
  display: flex;
  align-items: center;
  gap: 8px;
}
.branchingShowRow {
  display: flex;
  align-items: center;
  gap: 8px;
}
