.editor-wrapper {
  border: 1px solid var(--figma-color-border);
  overflow: hidden;
  border-radius: var(--border-radius-2);
  cursor: text;
  background: var(--figma-color-bg);
  padding: 1px;
}

.editor-wrapper:focus-within {
  border: 1px solid var(--figma-color-border-brand-strong);
  outline: 1px solid var(--figma-color-border-brand-strong);
}

.editor-wrapper > * {
  padding: 8px 10px;
}

.strings-editor {
  display: grid;
  font-size: 0.7rem;
  overflow: auto;
}

.strings-editor .cm-editor {
  outline: none !important;
  white-space: pre-wrap;
}

.strings-editor .cm-line {
  padding: 0px 1px !important;
}

.strings-editor .cm-content {
  padding: 0px !important;
}

.strings-editor .cm-cursor {
  border-color: var(--figma-color-border-primary) !important;
}

.strings-editor .placeholder-widget {
  display: inline-flex;
  vertical-align: text-top;
  align-items: center;
  justify-content: center;
  min-width: 15px;
  border: 1px solid var(--figma-color-border);
  background-color: var(--figma-color-bg-grey);
  color: var(--figma-color-text-grey);
  font-weight: 500;
  border-radius: 10px;
  padding: 0px 7px;
  margin-top: -2px;
  user-select: none;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  .strings-editor .placeholder-variable,
  .strings-editor .placeholder-hash {
    color: white;
  }
}
.strings-editor > * {
  display: grid;
}
.strings-editor .placeholder-error {
  background: #ff000054;
}

.strings-editor .placeholder-tagOpen {
  border: 1px solid var(--figma-color-border);
  background-color: var(--figma-color-bg-brand);
  color: var(--figma-color-bg-brand-contrast);
  border-radius: 10px 0px 0px 10px;
  padding-right: 6px;
}

.strings-editor .placeholder-tagClose {
  border: 1px solid var(--figma-color-border);
  background-color: var(--figma-color-bg-brand);
  color: var(--figma-color-bg-brand-contrast);
  border-radius: 0px 10px 10px 0px;
  padding-left: 6px;
}

.strings-editor .placeholder-tagSelfClosed {
  border: 1px solid var(--figma-color-border);
  background-color: var(--figma-color-bg-brand);
  color: var(--figma-color-bg-brand-contrast);
}

.strings-editor [dir="rtl"] .placeholder-tagOpen {
  border-radius: 0px 10px 10px 0px;
  padding-left: 6px;
}
.strings-editor [dir="rtl"] .placeholder-tagClose {
  border-radius: 10px 0px 0px 10px;
  padding-right: 6px;
}

.strings-editor .cm-tooltip {
  background-color: var(--figma-color-bg);
  color: var(--figma-color-bg-contrast);
  border-radius: 10px;
  padding: 2px 9px;
  user-select: none;
  text-transform: capitalize;
  white-space: nowrap;
  font-size: 12px;
}

.plural-editor-wrapper {
  display: grid;
  gap: 2px;
}
.plural-editor-wrapper .styled-variants {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.plural-editor-wrapper .styled-parameters {
  color: var(--figma-color-text-brand-secondary);
}
.plural-editor-wrapper .styled-variant-label {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--figma-color-border);
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
  border-radius: 12px;
  padding: 2px 9px;
  user-select: none;
  margin: 0px 1px;
  text-transform: capitalize;
  white-space: nowrap;
}
.plural-editor-wrapper .styled-variant-content {
  display: block;
}

:root {
  --syntax-color-function: #007300;
  --syntax-color-other: #002bff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --syntax-color-function: #9ac99a;
    --syntax-color-other: #99aaff;
  }
}

.strings-editor .tolgee-completion-option {
  text-transform: none;
}