.container {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: var(--figma-color-bg);
}

.actions {
  display: flex;
  gap: 8px;
  padding: 8px 12px;
}

.placeHolder {
  height: 70px;
}
