.container {
  display: grid;
  color: var(--figma-color-text-warning);
  margin: 10px 0px
}

.conflicts {
  display: grid;
  margin-top: 5px;
  margin-bottom: 20px;
}

.styledHint {
  display: grid;
  gap: 10px;
}