[class^="_selectableItem_"] {
  height: auto;
  padding: var(--space-medium) var(--space-small) var(--space-medium)
    var(--space-medium);
  margin-bottom: var(--space-small);
}

[class^="_selectableItem_"]:not([class^="_disabled_"])
  [class^="_input_"]:checked
  ~ [class^="_children_"] {
  color: var(--figma-color-text-onbrand);
}
[class^="_selectableItem_"]:not([class^="_disabled_"])
  [class^="_input_"]:checked
  ~ [class^="_box_"] {
  background-color: #ec407a;
}
:root {
  --figma-color-bg-brand: #ec407a;
  --figma-color-bg-selected: #ec407a;
  --figma-color-icon-brand: white;
  --figma-color-teal: rgb(0, 175, 154);
  --figma-color-teal-bg: rgb(0, 175, 154, 0.08);
  --figma-color-red: rgb(255, 0, 46);
  --figma-color-red-bg: rgb(255, 0, 46, 0.08);
}

@media (prefers-color-scheme: dark) {
  :root {
    --figma-color-teal: rgb(53, 196, 176);
    --figma-color-teal-bg: rgb(53, 196, 176, 0.16);
    --figma-color-red: rgb(255, 46, 83);
    --figma-color-red-bg: rgb(255, 46, 83, 0.16);
  }
}
