.sectionTitle {
  margin-bottom: -3px;
  margin-top: 10px;
  font-size: 12px;
}

.missing {
  color: var(--figma-color-icon-danger);
}

.container {
  margin-top: 10px;
  display: grid;
  gap: 10px 10px;
  grid-template-columns: 1fr;
  align-items: center;
}

.rowKey {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.spanAll {
  grid-column: 1 / -1;
}
