.languageContainer {
  display: flex;
  height: 30px;
  margin-left: -3px;
  border: 1px solid var(--figma-color-border-strong);
  border-radius: var(--border-radius-6);
}

.languageContainer:disabled {
  border: 1px solid var(--figma-color-border-disabled-strong);
}

.settingsButton {
  padding: 5px 0px 5px 5px;
  cursor: pointer;
}

.connectButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.disabled {
  color: var(--figma-color-text-disabled);
}

.keyInput {
  background: blue;
}

.nsSelect {
  display: flex;
  align-items: center;
  height: 21px;
}

.screenshot {
  position: relative;
}
