.container {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 2px 16px;
  padding: 6px 8px;
}

.container > * {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.container:hover {
  background-color: var(--figma-color-bg-hover);
}

.text {
  grid-column: 1 / span 2;
}

.action {
  grid-column: 3;
  grid-row: 1 / span 2;
  align-self: center;
}

.disabled {
  color: var(--figma-color-text-disabled);
}
